name: tests.yml
on: [pull_request, push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Configure project
        run: cmake -B build -S .

      - name: Build project
        run: cmake --build build --config Debug

      - name: Run tests
        run: ctest --test-dir build --output-on-failure

